{% extends 'base.html' %}
{% load static %}

<!-- 타이틀 추가 -->
{% block title %} 드리머리 - 헤어서비스 020 {% endblock %}
<!-- Head 다 지우고 하단 블럭 추가 -->
{% block link %} {% static 'css/home.css' %} {% endblock %}


<!-- <body></body> 와 </html>태그도 base.html에 있기 때문에 지움 -->
<!-- Header 삭제-->>

<!-- Main Content -->
{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1>드리머리</h1><br>
    <p class="lead text-muted">열정있는 디자이너에게 받는<br>합리적 헤어서비스, 드리머리</p>
    <p>
      <a href="{% url 'introduce' %}" class="btn btn-outline-danger">드리머리 알아보기</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <!-- Queryset: 프로필카드를 쿼리셋을 이용해 노출시키기 -->
    <div class="card-columns">
      {% for designer in designers %}
      <div class="card mb-4 shadow-sm">
        <!--Image-->
        <!-- 이미지가 없는 예외상황 처리하기위해 if-else 템플릿언어 씀 -->
        {% if designer.image %}
        <img src=" {{ designer.image.url }}" class="card-img-top" alt="Desinger_Image">
        {% else %}
        <!-- 이미지가 없을 땐 원래 부트스트랩에 있던거 사용-->
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Dremary</title>
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Profile</text>
        </svg>
        {% endif %}
        <div class="card-body">
          <!-- Ctrl + D로 한 줄 복사 -->
          <h5 class="card-title"> {{designer.name}} </h5>
          <h6 class="card-text"> {{ desinger.address }} </h6>
          <hr> <!-- <hr> 수평선 -->
          <p class="card-text"> {{ designer.description }} </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'detail' designer.id %}" class="btn btn-sm btn-outline-secondary">자세히 알아보기 </a>
              <!-- 그리고 언제부터인가 런서버하면 서버는 멀쩡히 열리는데 [TypeError: argument of type 'WindowsPath' is not iterable] 이게 뜸-->
              <!-- 이건 모르겠고 -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}